<table data-unique-id="id" class="display table table table-dark table-striped" id="ordersTable">
    <thead>
        <tr>
            <th data-field="userId">User</th>
            <th data-field="statusCode">Status</th>
            <th data-field="orderDate">Order date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
    var $ordersTable = $('#ordersTable');
  
$(document).ready(function () {
     var userId;
        if("@Model.Login" == "Admin"){
            userId = -1;
        }else if("@Model.Login" == "User1"){
            userId = 1;
        }else if("@Model.Login" == "User2"){
            userId = 2;
        }
        var columnToApply =
                {
                  field: 'operate',
                  title: 'Actions',
                  align: 'center',
                  valign: 'middle',
                  clickToSelect: false,
                  formatter : function(value,row,index) {
                    let valueString = '<button style=\'background-color:red;border-color:red\' onClick=\'deleteOrder("'+row.id+'",0)\' class=\'btn btn-primary \' pageName="'+row.id+'" pageDetails="'+row.price+'"  >Delete</button> ';
                    return valueString;
                  }
        };
        
           if("@Model.Login" == "Admin"){
            columnToApply = columnToApply;
           }else {
               columnToApply = undefined;
           }

        $.ajax({
        url: '@Url.Action("GetAllOrders", "Home")' + '?userId=' + userId,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(responseData) {
     var convertStatusCode = function(code){
        if(code === 1){
            return 'Ordered';
        }else if (code === 2){
            return 'Prepared';
        }else if(code === 3){   
            return 'Sent';
        }else if(code === 4){
            return 'Done';
        }else {
            return 'Not found';
        }
    }

    var convertUserId = function(id){
        if(id === -1){
            return 'Admin';
        }else if (id === 1){
            return 'User1';
        }else if(id === 2){   
            return 'User2';
        }else{
            return 'Not found';
        }   
    }
            responseData.forEach(element => {
                element.userId = convertUserId(element.userId);
                element.statusCode = convertStatusCode(element.statusCode);
            });
           $('#ordersTable').bootstrapTable({
              data: responseData,
              columns: [ {},{},{},{
                  field: 'operate',
                  title: 'Ordered products',
                  align: 'center',
                  valign: 'middle',
                  clickToSelect: false,
                  formatter : function(value,row,index) {
                      let productsData = JSON.parse(row.ordersData);
                      let result = '';
                      if (productsData.length !== undefined) {
                          productsData.forEach(element => {
                              result += '<div>' + element.ProductName + ': ' + element.ProductAmount + '</div>'
                          });
                      }
                    return result;
                  }},columnToApply ]
           });
           $("#ordersTable").bootstrapTable("hideLoading");
        },
        error: function(){
           alert("Błąd wczytania danych!")
        }
        });
})
        

    function deleteOrder(id){
        var url = '@Url.Action("DeleteOrder","Home")' + '?id=' +id;
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                success: function(){
                    window.location.reload(true);
                }
        })
    }
</script>

